[submodule "src/editor/parser"]
	path = src/editor/parser
	url = https://github.com/Fevol/criticmarkup-parser.git
[submodule "typings"]
	path = typings
	url = https://github.com/Fevol/obsidian-typings.git
