// EXPL: Exclude annotation gutter width from the line width setting, if enabled
.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer {
  max-width: calc(var(--file-line-width) + var(--cmtr-anno-gutter-width, 0));
}

.cm-gutters.cm-gutters.cm-gutters.cm-gutters:has(
    .is-minimal.cmtr-anno-gutter
  ) {
  position: sticky !important;
}

// Removes additional padding to the right of the gutter
.cm-gutters.cm-gutters:has(> .cmtr-anno-gutter) {
  padding-inline-end: 0;
  margin-inline-end: 0;
}

.cmtr-anno-gutter {
  width: 100%;
  transition: width 400ms ease-in-out;
}

.cmtr-anno-gutter-resizing .cmtr-anno-gutter {
  transition: width 50ms ease-out;
}

.cmtr-anno-gutter-resizing .cmtr-anno-gutter-button {
  transition: right 50ms ease-out;
}

.cmtr-anno-gutter-thread {
  width: 100%;

  border: 2px solid var(--background-modifier-border);
  border-radius: var(--radius-l);

  background-color: var(--background-primary-alt);

  color: var(--text-muted);

  transition:
    border-color 100ms ease-in-out 0ms,
    background-color 100ms ease-in-out 0ms;
}

.cmtr-anno-gutter-thread-highlight {
  border-color: var(--interactive-accent)
}

.cmtr-anno-gutter-annotation {
  width: 100%;
  max-height: 150px;

  background-color: inherit;
  padding: var(--size-2-2);
  position: relative;

  overflow-y: scroll;
  word-wrap: break-word;
}

.cmtr-anno-gutter-annotation:first-child {
  border-top-left-radius: var(--radius-l);
  border-top-right-radius: var(--radius-l);
}

.cmtr-anno-gutter-annotation:last-child {
  border-bottom-left-radius: var(--radius-l);
  border-bottom-right-radius: var(--radius-l);
}

.cmtr-anno-gutter-annotation:not(:last-child) {
  border-bottom: 1px dashed var(--background-modifier-border);
}

.cmtr-anno-gutter .cm-gutterElement {
  transition: margin 200ms ease-in-out;
}

.cmtr-anno-gutter-annotation-desc {
  font-weight: var(--font-bold);
}

.cmtr-anno-gutter-annotation-view > * {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

.cmtr-anno-gutter-annotation:hover {
  box-shadow: 0 0 0 2px var(--interactive-accent);
  background-color: var(--background-secondary);
  z-index: 20;
}

.cmtr-anno-gutter-annotation:focus,
.cmtr-anno-gutter-annotation-editing.cmtr-anno-gutter-annotation-editing {
  box-shadow: 0 0 0 2px var(--comment-border-color);
  background-color: var(--background-secondary);
  z-index: 25;
}

.cmtr-anno-gutter-annotation-metadata {
  font-size: var(--font-smallest);
  color: var(--text-faint);

  position: sticky;
  top: -4px;
  background-color: inherit;
  z-index: 10;
  padding: 2px 0;
}

.cmtr-anno-gutter-annotation-editor.cm-editor {
  min-height: auto;
}

// ================================================
// 	   Editor Comment Gutter Resize Bar Styling
// ================================================

.cmtr-anno-gutter-resize-handle {
  position: absolute;

  background: transparent;
  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, opacity 200ms ease-in-out;

  border: unset;
  margin: 0;

  height: 100%;
  transform: translate(-10px, -40px);

  border-inline-end-color: var(--divider-color);
  border-inline-end-width: var(--divider-width);
  border-inline-end-style: dashed;

  width: var(--divider-width-hover);

  cursor: col-resize;

}

.cmtr-anno-gutter-resize-handle:hover, .cmtr-anno-gutter-resize-handle-hover {
  background: var(--divider-color-hover);
  border-color: var(--divider-color-hover);
}

// ================================================
// 	   Editor Comment Gutter Fold Button Styling
// ================================================

.cmtr-anno-gutter-button {
  position: fixed;
  top: calc(var(--file-margins) + 60px);
  transform: translateX(-36px);
  z-index: 1000;

}

.cmtr-anno-gutter-button a {
  position: absolute;
  color: var(--text-faint);
  transition:
          color 200ms ease-in-out 0ms,
          right 400ms ease-in-out,
          rotate 200ms ease-in-out;
}

.cmtr-anno-gutter-button a:hover {
  color: var(--text-normal);
}
