.cm-gutters.cm-gutters.cm-gutters.cm-gutters:has(
    .is-minimal.criticmarkup-comment-gutter
  ) {
  position: sticky !important;
}

// Removes additional padding to the right of the gutter
.cm-gutters.cm-gutters:has(> .criticmarkup-comment-gutter) {
  padding-inline-end: 0;
  margin-inline-end: 0;
  margin-inline-start: 24px;
}

.criticmarkup-comment-gutter {
  width: 100%;
  transition: width 400ms ease-in-out;
}

.criticmarkup-gutter-comment-thread {
  width: 100%;

  border: 2px solid var(--background-modifier-border);
  border-radius: var(--radius-l);

  background-color: var(--background-primary-alt);

  color: var(--text-muted);

  transition:
    border-color 200ms ease-in-out 0ms,
    background-color 200ms ease-in-out 0ms;
}

.criticmarkup-gutter-comment-thread-highlight {
  animation: criticmarkup-gutter-comment-thread-highlight 2s infinite;
}

@keyframes criticmarkup-gutter-comment-thread-highlight {
  0% {
    border-color: var(--background-modifier-border);
  }
  50% {
    border-color: var(--interactive-accent);
  }
  100% {
    border-color: var(--background-modifier-border);
  }
}

.criticmarkup-gutter-comment {
  width: 100%;
  max-height: 150px;

  background-color: inherit;
  padding: var(--size-2-2);
  position: relative;

  overflow-y: scroll;
  word-wrap: break-word;
}

.criticmarkup-gutter-comment:first-child {
  border-top-left-radius: var(--radius-l);
  border-top-right-radius: var(--radius-l);
}

.criticmarkup-gutter-comment:last-child {
  border-bottom-left-radius: var(--radius-l);
  border-bottom-right-radius: var(--radius-l);
}

.criticmarkup-gutter-comment:not(:last-child) {
  border-bottom: 1px dashed var(--background-modifier-border);
}

.criticmarkup-comment-gutter .cm-gutterElement {
  transition: margin 200ms ease-in-out;
}

.criticmarkup-gutter-comment-view > * {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

.criticmarkup-gutter-comment:hover {
  box-shadow: 0 0 0 2px var(--interactive-accent);
  background-color: var(--background-secondary);
  z-index: 20;
}

.criticmarkup-gutter-comment:focus,
.criticmarkup-gutter-comment-editing.criticmarkup-gutter-comment-editing {
  box-shadow: 0 0 0 2px var(--comment-border-color);
  background-color: var(--background-secondary);
  z-index: 25;
}

.criticmarkup-gutter-comment-metadata {
  font-size: var(--font-smallest);
  color: var(--text-faint);

  position: sticky;
  top: -4px;
  background-color: inherit;
  z-index: 10;
  padding: 2px 0;
}

.criticmarkup-gutter-comment-editor.cm-editor {
  min-height: auto;
}
