.theme-light {
	--addition-color: var(--color-green);
	--deletion-color: var(--color-red);
	--substitution-color: var(--color-orange);
	--comment-color: #bacff4;
	--comment-border-color: #679af4;
	--comment-inverse-color: #445f8f;
	--highlight-color: var(--text-highlight-bg);
}

.theme-dark {
	--addition-color: var(--color-green);
	--deletion-color: var(--color-red);
	--substitution-color: var(--color-orange);
	--comment-color: #445f8f;
	--comment-border-color: #8c95a5;
	--comment-inverse-color: #bacff4;
	--highlight-color: var(--text-highlight-bg);
}



// ================================================
//           CriticMarkup Editor Styles
// ================================================

.criticmarkup-editing { }

.criticmarkup-inline { }

.criticmarkup-accepted {}

.criticmarkup-rejected {
	display: none;
}


// ================================================
//        CriticMarkup Main Suggestion Styles
// ================================================
.criticmarkup-addition {
	color: var(--addition-color);
}

.criticmarkup-deletion {
	text-decoration: var(--deletion-color) 2px line-through;
}

.criticmarkup-comment {
	background-color: var(--comment-color);
	border-bottom: 2px solid var(--comment-border-color);
}

.criticmarkup-comment-icon {
	padding: 0 0 var(--size-4-2) 0;
}

.criticmarkup-comment-icon:hover {
	cursor: pointer;
}

.criticmarkup-comment-icon svg {
	color: var(--comment-border-color);
	stroke-width: 4px;
	transition: stroke-width 150ms ease-in-out;
}

.criticmarkup-comment-icon:hover svg {
	stroke-width: 5px;
}

.criticmarkup-comment-tooltip {
	max-height: var(--popover-height);
	max-width: var(--popover-width);
	overflow-y: scroll;

	position: absolute;
	z-index: 10000;
	border: 4px solid var(--comment-border-color);

	// Fancy notes:
	filter: drop-shadow(4px 4px 0px var(--comment-inverse-color));

	//border: 1px solid var(--background-modifier-border);
	background-color: var(--background-primary-alt);
	padding: var(--size-4-2);
	border-radius: var(--radius-l);
}

.criticmarkup-comment-tooltip * {
	margin-block-start: 0.25em;
	margin-block-end: 0.25em;
}

.criticmarkup-highlight {
	background-color: var(--highlight-color);
}


// ================================================
//            Editor UIX Elements Styling
// ================================================

.criticmarkup-suggestion-status {
	font-size: var(--font-smallest);
	color: var(--text-faint);
	margin-right: var(--size-2-1);
}




// ================================================
// 	           Editor Gutter Styling
// ================================================

.cm-gutters.cm-gutters:has(>.criticmarkup-gutter:not(.criticmarkup-gutter-show-empty):empty) {
	padding-inline-end: 0;
}

.cm-gutters.cm-gutters:has(>.criticmarkup-gutter) {
	// How far away the gutter should be removed from the text
	padding-inline-end: 1em;
}

.cm-gutters:has(>.criticmarkup-gutter-show-empty) {
	min-width: 18px;
}

.criticmarkup-gutter-addition {
	background-color: var(--addition-color);
	width: 6px;
	height: 100%;
}

.criticmarkup-gutter-deletion {
	background-color: var(--deletion-color);
	width: 6px;
	height: 100%;
}

.criticmarkup-gutter-addition.criticmarkup-gutter-deletion {
	//background: var(--substitution-color);
	//background: repeating-linear-gradient(45deg, var(--addition-color), var(--addition-color) 10px, var(--deletion-color) 10px, var(--deletion-color) 20px);
	background: repeating-linear-gradient(45deg, var(--addition-color), var(--addition-color) 10px, var(--deletion-color) 10px, var(--deletion-color) 18px);
}

.criticmarkup-gutter-substitution {
	//background: var(--substitution-color);
	//background: linear-gradient(to right, var(--addition-color), var(--addition-color) 50%, var(--deletion-color) 50%, var(--deletion-color));
	//background: repeating-linear-gradient(45deg, var(--addition-color), var(--addition-color) 50%, var(--deletion-color) 50%, var(--deletion-color) 100%);
	background: repeating-linear-gradient(45deg, var(--addition-color), var(--addition-color) 10px, var(--deletion-color) 10px, var(--deletion-color) 18px);


	width: 6px;
	height: 100%;
}



.criticmarkup-gutter-top {
	// TODO: Figure out a better way to do this
	border-top: 1px solid var(--background-primary);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.criticmarkup-gutter-bottom {
	border-bottom: 1px solid var(--background-primary);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}



.criticmarkup-comment-gutter {
	width: 300px;
	margin-top: 50px;
}

.criticmarkup-gutter-comment {
	color: var(--text-muted);
	border: 2px solid var(--background-modifier-border);
	border-radius: var(--radius-l);
	padding: var(--size-4-2);
	transition: border-color 200ms ease-in-out;
	background-color: var(--background-secondary-alt);

	// Position comments relative to their optical center
	//transform: translateY(-25%);

	max-height: 150px;
	overflow-y: scroll;
}


//.criticmarkup-comment-gutter .cm-gutterElement {
//	margin-bottom: 10px;
//}

.criticmarkup-gutter-comment * {
	margin-block-start: 0.25em;
	margin-block-end: 0.25em;
}


.criticmarkup-gutter-comment:focus {
	border: 2px solid var(--comment-border-color);
	background-color: var(--background-primary);
}


// ================================================
//             Markdown-specific Fixes
// ================================================


span.cm-strikethrough:has(.criticmarkup-editing) {
	text-decoration: unset;
}

span.cm-strikethrough:has(.criticmarkup-accepted) {
	text-decoration: unset;
}

span.cm-highlight:has(.criticmarkup-editing) {
	background-color: unset;
}

.cm-strikethrough:has(.criticmarkup-substitution.criticmarkup-addition) {
	text-decoration: unset;
}

//
//.cm-line:has(>.criticmarkup-inline) ~ .cm-line.cm-strikethrough {
//  text-decoration: unset;
//  color: var(--color-red);
//}





// ================================================
//           Markdown-specific Styling
// ================================================

.criticmarkup-addition .list-bullet::after {
	background-color: var(--addition-color);
}

.criticmarkup-addition img {
	border: 4px solid var(--addition-color);
	border-radius: 12px;
}

//.HyperMD-codeblock:has(.criticmarkup-addition) {
//	border-left: 2px solid var(--addition-color);
//	border-right: 2px solid var(--addition-color);
//
//	&.HyperMD-codeblock-begin {
//		border-top: 4px solid var(--addition-color);
//	}
//
//	&.HyperMD-codeblock-end {
//		border-bottom: 4px solid var(--addition-color);
//	}
//}

.criticmarkup-deletion img {
	border: 4px solid var(--deletion-color) !important;
	border-radius: 12px;
}








// For comments:
//    position: absolute;
//    right: -20px;
//    background: var(--background-secondary);
//    padding: 16px;
//    border-radius: 8px;
//    border-bottom-left-radius: 0px;

// Comment arrow:
//    content: ' ';
//    position: absolute;
//    left: -7px;
//    bottom: 0px;
//    width: 0;
//    height: 0;
//    border-right: 9px solid var(--background-secondary);
//    border-bottom: 10px solid transparent;
//    border-top: 10px solid transparent;
