@import "../ui/components/main.scss";

@import "view";
@import "settings";
@import "editor";
@import "modal";

// NOTE: Always abbreviated as "anno-gutter"
@import "annotation-gutter";
@import "diff-gutter";

.theme-light {
  --addition-color: var(--color-green);
  --addition-color-alt: color-mix(
    in srgb-linear,
    var(--addition-color),
    black 15%
  );

  --deletion-color: var(--color-red);
  --deletion-color-alt: color-mix(
    in srgb-linear,
    var(--deletion-color),
    black 15%
  );

  --substitution-color: var(--color-orange);
  --substitution-color-alt: color-mix(
    in srgb-linear,
    var(--substitution-color),
    black 15%
  );

  --highlight-color: var(--text-highlight-bg);
  --highlight-color-alt: color-mix(
    in srgb-linear,
    var(--text-highlight-bg),
    black 15%
  );

  --comment-color: #bacff4;
  --comment-border-color: #679af4;
  --comment-inverse-color: #445f8f;
}

.theme-dark {
  --addition-color: var(--color-green);
  --addition-color-alt: color-mix(
    in srgb-linear,
    var(--addition-color),
    white 10%
  );

  --deletion-color: var(--color-red);
  --deletion-color-alt: color-mix(
    in srgb-linear,
    var(--deletion-color),
    white 10%
  );

  --substitution-color: var(--color-orange);
  --substitution-color-alt: color-mix(
    in srgb-linear,
    var(--substitution-color),
    white 10%
  );

  --highlight-color: var(--text-highlight-bg);
  --highlight-color-alt: color-mix(
    in srgb-linear,
    var(--text-highlight-bg),
    white 10%
  );

  --comment-color: #445f8f;
  --comment-border-color: #679af4;
  --comment-inverse-color: #bacff4;
}

.cmtr-fail > button {
  background-color: var(--color-red);
  color: var(--text-on-accent);
}

/**
Determines what to do when gutter contains no contents
DEFAULT: hidden
 */
.cm-gutters.gutter-hidden {
  display: none;
}

.cmtr-debug-comment-line {
  width: 100%;
  border-bottom: 1px dashed red;
}
