.cmtr-view-container {
  padding: 0 0 0 var(--size-4-4);
  height: 95%;
}

.cmtr-view-range {
  border: 1px solid var(--background-modifier-border);
  border-radius: var(--radius-l);
  background: var(--background-primary);
  margin: 2px 8px 8px 2px;
  max-height: 400px;
  overflow-y: scroll;
  word-wrap: break-word;
}

.cmtr-view-range-top {
  display: flex;
  align-items: center;
  gap: var(--size-4-2);
  padding: var(--size-4-2);
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: inherit;
}

.cmtr-view-range-text {
  padding: 0 var(--size-4-1);
  padding-left: 30px;
}

.cmtr-view-range-completed {
  background: var(--background-primary-alt);
  color: var(--text-muted);
  border-style: dashed;
}

.cmtr-view-range-author {
  font-size: var(--font-smallest);
  color: var(--text-faint);
}

.cmtr-view-range-time {
  font-size: var(--font-smallest);
  color: var(--text-faint);
}

.cmtr-view-range:hover {
  box-shadow: unset;
  outline: 2px dashed var(--interactive-accent-hover);
}

.cmtr-view-range-selected {
  box-shadow: 0 0 0 2px var(--interactive-accent);
}

.cmtr-view-range-icon {
}

.cmtr-view-range-title {
  font-variant: all-small-caps;
  font-weight: var(--bold-weight);
}

.cmtr-view-range-empty {
  color: var(--text-faint);
}

.cmtr-view-range-reply {
  border-top: 1px dashed var(--background-modifier-border);
}

.cmtr-view-range-reply-top {
  padding: 0 var(--size-4-1) 0 30px;
}

.cmtr-view-range-reply-text {
  padding: 0 var(--size-4-1);
  padding-left: 30px;
  min-height: 2em;
}

.cmtr-view-range-reply-author {
  font-size: var(--font-smallest);
  color: var(--text-faint);
}

.cmtr-view-range-reply-time {
  font-size: var(--font-smallest);
  color: var(--text-faint);
}

.cmtr-view-suggestion-buttons {
  // Display in the top right corner
  position: fixed;
  right: 0;
  transform: translateY(calc(-1 * (var(--scroll-offset) + 12px))) translateX(-16px);

  z-index: 2;
  display: flex;
  align-items: center;

  border: 1px solid var(--background-modifier-border-hover);
  background-color: var(--background-secondary);

  border-radius: var(--radius-s);
}

.cmtr-view-suggestion-buttons > button {
  background: unset;
  box-shadow: unset;
  border-radius: unset;
  height: unset;
  padding: var(--size-4-1);
}

.cmtr-view-suggestion-buttons > button:hover {
  background-color: var(--background-secondary-alt);
}

.cmtr-view-info {
  color: var(--text-muted);
  font-size: var(--font-smallest);
}

.cmtr-view-action-container {
  display: flex;
  align-items: center;
}

.cmtr-view-action {
  height: min-content;
}

.cmtr-view-action-sep {
  height: 24px;
  border-left: 1px solid var(--background-modifier-border-hover);
}

.cmtr-view-suggestion-button-sep {
  height: 26px;
  border-left: 1px solid var(--background-modifier-border-hover);
  margin: 0 var(--size-4-1);
}

.cmtr-view-search.search-input-container input {
  padding-inline-end: 8px;
}
