.criticmarkup-substitution {
    background-color: pink;
}
.criticmarkup-addition {
    background-color: green;
}
.criticmarkup-deletion {
    background-color: red;
}
.criticmarkup-comment {
    background-color: grey;
}
.criticmarkup-highlight {
    background-color: yellow;
}
